<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <h1>Welcome to my book store</h1>

    <form th:action="@{/processSelectedBook}" method="post">
        <div th:each="book: ${books}">
            <span>Title: </span>
            <span th:text="${book.title}"></span>
            <span>&nbsp;</span>

            <span>Genre: </span>
            <span th:text="${book.genre}"></span>
            <span>&nbsp;</span>

            <span>Year: </span>
            <span th:text="${book.year}"></span>
            <span>&nbsp;</span>

            <button>Edit</button>
            <button>Delete</button>
            <input type="radio" th:name="selectedBook" th:value="${book.isbn}" />
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>