<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <h1>Welcome to my book store</h1>

        <div th:each="book: ${books}">
            <span>Title: </span>
            <span th:text="${book.title}"></span>
            <span>&nbsp;</span>

            <span>Genre: </span>
            <span th:text="${book.genre}"></span>
            <span>&nbsp;</span>

            <span>Year: </span>
            <span th:text="${book.year}"></span>
            <span>&nbsp;</span>

            <form th:action="@{/editBook}" method="post" style="display: inline;">
                <button type="submit" th:name="edit" th:value="${book.isbn}">Edit</button>
            </form>

            <form th:action="@{/deleteBook}" method="post" style="display: inline;">
                <button type="submit" th:name="delete" th:value="${book.isbn}">Delete</button>
            </form>

            <form th:action="@{/processSelectedBook}" method="post">
                <input type="radio" th:name="selectedBook" th:value="${book.isbn}" />
                <button type="submit">Submit</button>
            </form>

        </div>
    </form>

    <div>
        <a th:href="@{books/add}">Add</a>
    </div>
</body>